.project {
  padding: 0.5%;
  border-radius: 4px;
  margin: 3%;
  text-align: center;
}

.desc {
  text-align: left;
}

.Collapsible__trigger {
  color: white;
  font-size: 18px;
  padding: 6px;
  background-color: black;
  border-radius: 5px;
}
  
.Collapsible__trigger:hover {
  cursor: pointer;
}

.links {
  text-align: right;
}
  
.project-link {
  text-decoration: none;
  background-color: black;
  color: white;
  border-radius: 3px;
  padding: 6px 12px;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  margin-right: 4px;
}