.App {
  text-align: center;
}

a {
  padding: 4px;
}

.about {
  display: inline-block;
  max-width: 45%;
}

.Projects {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  margin: auto;
}

@media screen and (max-width: 500px) {
  .about {
    max-width: 90%;
  }

  .Projects {
    max-width: 80%;
  }
}